.form-container{
    width: 35%; 
    max-width: 1200px; 
    height: 800px;
    margin: 0 auto; 
    margin-top: 30px;
    background-color: #c2ceef; 
    border: 1px solid #b7ec07; 
    border-width: 3px;
    padding: 20px; 
}
h1{
    text-align: center;
    background-color: aqua;
}
.form-control{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 500px;

}
input{
    width: 500px;
    background-color: bisque;
    text-decoration-color: black;
}
select{
    width: 500px;
    background-color: bisque;
    text-decoration-color: black;
      
}
#submitBtn{
    background-color: green;
    text-decoration: black;
    width: 80px;
    height: 30px;
}


